.App {
  text-align: center;
}

.bg-first {
  background-color: #FD3A55;
}

.bg-second {
  background-color: #2B2D41;
}

.text-first {
  color: #FD3A55;
}

.text-third {
  background-color: #4C5076;
}

.viewer {
  width: 300px;
  height: 100px;
}

.calculator {
  width: 300px;
  height: 500px;
}

.btn-rectingle {
  width: 75px;
  height: 75px
}

.btn-zero {
  width: 150px;
}

.btn-rectingle:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
